/* SPDX-FileCopyrightText: 2022 Contributors of Meeting Stopwatch */
/* SPDX-License-Identifier: MIT */

body {
    background-color: #7aacff;
}

div {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
}

button {
    font-weight: bold;
    background-color: #7aacff;
    padding: 5px;
    border: 2px solid #ffffff;
    border-radius: 8px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #98bcff;
}

button:active {
    background-color: #4b8cff;
}

.container {
    width: 500px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
    border: 10px solid #ffffff;
    border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0, 0, 0, 0.3);
    padding: 1em;
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
}

.stopwatch,
.stopwatch:active {
    width: 100%;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 8px;
    margin-bottom: 0.25em;

    background-color: #90ee90;
}

.stopwatch:hover {
    background-color: #c3eac3;
}

.paused,
.paused:active {
    background-color: #ff4400;
}

.paused:hover {
    background-color: #ff8152;
}

.statistic {
    border: 1px solid #ffffff;
    border-radius: 8px;
    padding: 1em;
}

.source-link {
    text-align: center;
    font-size: small;
}

.source-link a {
    text-decoration: none;
}

.source-link a:hover {
    text-decoration: underline;
}